<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Projet AAR - Evaluator8000</display-name>
	<servlet>
		<servlet-name>evalServlet</servlet-name>
		<servlet-class>fr.upmc.aar.evaluator8000.servlets.MediaEvaluatorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>findServlet</servlet-name>
		<servlet-class>fr.upmc.aar.evaluator8000.servlets.MediaFinderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>fr.upmc.aar.evaluator8000.servlets.MediaSearcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>fr.upmc.aar.evaluator8000.servlets.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>evaluateServlet</servlet-name>
		<servlet-class>fr.upmc.aar.evaluator8000.servlets.MediaEvaluatorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>connexionServlet</servlet-name>
		<servlet-class>fr.upmc.aar.evaluator8000.servlets.UserConnexionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>evalServlet</servlet-name>
		<url-pattern>/evalMedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findServlet</servlet-name>
		<url-pattern>/findMedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/searchMedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>evaluateServlet</servlet-name>
		<url-pattern>/commentMedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connexionServlet</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
</web-app>
